* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.hamburger-menu {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.navlinks {
    display: flex;
    gap: 60px;
}

.navlinks li {
    list-style: none;
}

.navlinks li a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

.navlinks li .under {
    background-color: green;
    border-radius: 10px;
}

.navlinks li a:hover {
    transition: 0.5s;
    color: green;
}

.navlinks li .under:hover {
    color: white;
}

.navicon a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

.navicon .colour {
    background-color: green;
    border-radius: 10px;
}

.navicon .colour:hover {
    background-color: white;
    color: green;
    transition: 0.5s;
}

.games {
    padding: 20px;
    display: block;
}


.sports li {
    color: green;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.listing {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

.list {
    background-color: green;
    color: white;
    padding: 10px;
    margin: 10px;
}

.sports li img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.sports li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: green;
    border-radius: 10px ;
}

.sports .list {
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sports .list a {
    color: green;
    background-color: white;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}


.end {
    color: white;
    width: 300px;
}


.end input {
    padding: 10px;
    background-color: white;
    color: black;
    border-color: green;
    width: 300px;
    margin-top: 20px;
}



.endlink h4 {
    color: white;
    font-size: 20px;
}

.endlink li {
    list-style: none;
}

.endlink li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.endlist li {
    list-style: none;
}

.endlist h4 {
    color: white;
    font-size: 20px;
}

.endlist li a {
    text-decoration: none;
    color: white;
}

.endicon {
    color: white;
}

.endicon h5 {
    font-size: 20px;
}

.endlink li a:hover {
    transition: 0.5s;
    color: green;
}

.endlist li a:hover {
    transition: 0.5s;
    color: green;
}

.copywrite {
    color: white;
    text-align: center;
    padding: 10px;
    border-top: 1px solid white;
}

@media (max-width: 760px) {
    body {
        width: 100%;
        align-items: center;
    }
    
    
    .navbar {
        flex-direction: column;
        padding: 15px;
    }

    .navlinks {
        display: none;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        background-color: black;
        width: 100%;
    }

    .navlinks li .under {
        background: none;
        color: green;
    }

    .navlinks li .under:hover {
        color: green;
    }

    .navicon {
        display: none;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        background-color: black;
        width: 100%;
    }

    .hamburger-menu {
        display: block;
        font-size: 30px;
        color: white;
        background: none;
        border: 1px solid white;
        flex-direction: column;
        align-self: last baseline;
        cursor: pointer;
    }

    .games {
        display: flex;
        flex-direction: column;
    }

    .sports {
        text-align: left;
    }

    .listing a {
        text-align: center;
    }

    .listing {
        gap: 10px;
    }
    .list {
        gap: 10px;
    }

    .list a {
        text-align: center;
    }

    footer {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .copywrite {
        display: flex;
        flex-direction: column;
    }

    .copywrite p {
        font-size: 10px;
    }

    .navlinks.active,
    .navicon.active {
        display: flex;
    }

}